.mngParti {
    display: flex;
    gap: 20px;
    background-color: #f4f4f4;
    padding: 20px 0;
    box-shadow: -50vw 0 0 0 #f4f4f4, 50vw 0 0 0 #f4f4f4;
}

.partiTable {
    border: 1px solid;
    background-color: white;
    flex: 1;
    border-radius: 8px;
    padding: 10px;
}

.partiTable th, .partiTable td {
    padding: 10px;
}

.partiTable th:first-child, .partiTable td:first-child,
.partiTable th:nth-child(3), .partiTable td:nth-child(3),
.partiTable th:nth-child(4), .partiTable td:nth-child(4) {
    text-align: center;
}

.partiTable th:nth-child(2), .partiTable td:nth-child(2){
    text-align: left;
}

.partiTable th:last-child, .partiTable td:last-child {
    text-align: right;
}

.partiTable td img {
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.partiTable td button {
    border-radius: 8px;
    background-color: black;
    color: white;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
}

.numOfParti {
    border: 1px solid;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 6px 10px;
}

table {
    width: 100%
}

.tableHeader h4{
    margin: 0;
}

.profile-link {
    text-decoration: none; /* เอาเส้นใต้ออก */
    color: inherit; /* ให้สีตัวอักษรเหมือนข้อความปกติ */
    display: inline-flex;
    align-items: center;
    transition: color 0.2s;
}

.profile-link:hover {
    color: #0056b3; /* เปลี่ยนสีนิดหน่อยตอนเอาเมาส์ชี้ เพื่อให้รู้ว่ากดได้ */
    text-decoration: underline;
}