@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
    <li><a href="https://localhost:7293/event/create">Go to /event/create</a></li>
    <li><a href="https://localhost:7293/event/edit/1">Go to /event/edit/1</a></li>
    <li><a href="https://localhost:7293/event/edit/2">Go to /event/edit/2</a></li>
    <li><a href="https://localhost:7293/event/manage/1">Go to /event/manage/1</a></li>
    <li><a href="https://localhost:7293/event/manage/2">Go to /event/manage/2</a></li>
    <li><a href="https://localhost:7293/Profile/profilepage">Go to /profile</a></li>
    <li><a href="https://localhost:7293/event/myevent">Go to /myevent</a></li>
    <li><a href="https://localhost:7293/home/home">Go to /home</a></li>
    <li><a href="https://localhost:7293/account/login">Go to /Login</a></li>
    <li><a href="https://localhost:7293/account/signup">Go to /signup</a></li>
    <li><a href="https://localhost:7293/event/review/1">Go to /review/1</a></li>
    <li><a href="https://localhost:7293/event/review/2">Go to /review/2</a></li>
</ul>
