@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
@{
        var username = Context.Session.GetString("Username");
        var userId = Context.Session.GetInt32("UserId");
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationProject</title>
    <script type="importmap"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="navbar">
            <div id="weblogo">
                <img src="https://placehold.co/200x50/333333/ffffff?text=MY+LOGO" alt="Logo">
            </div>

            <div id="navitem">
                <ul>
                    <li><a href="https://localhost:7293/home/home">Home</a></li>
                    <li><a href="https://localhost:7293/event/myevent">Event</a></li>
                    <li><a href="https://localhost:7293/event/create">Add Event</a></li>
                    <li><a href="#about">Chat</a></li>
                </ul>
            </div>

            <div id="navprofile">
                @*<div id="profilename">
                    <h4>ชื่อ</h4> <p>นามสกุล</p>
                </div>*@
                @{
                    var username = Context.Session.GetString("Username");
                    var userId = Context.Session.GetInt32("UserId");
                }

                <div id="profilename">
                    @if (!string.IsNullOrEmpty(username))
                    {
                        <h4>@username</h4>
                        @if (userId.HasValue)
                        {
                            <p>ID: @userId.Value</p>
                        }
                        @if (username != null)
                        {
                            <a asp-controller="Account" asp-action="Logout">Logout</a>
                        }
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    }
                </div>
                <img src="https://ui-avatars.com/api/?name=John+Doe&background=random&color=fff&size=128" alt="Profile">
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="my-footer">
        <div>
            &copy; 2569 - WebApplicationProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>